@import "tailwindcss";

@theme {
  --color-brand: #742370;
}

html, body, #root {
  height: 100%;
  background-color: theme(colors.slate.50);
  color: theme(colors.slate.800);
}

@layer utilities {
  .animate-fade-in-scale {
    animation: fade-in-scale 0.2s ease-out forwards;
  }

  @keyframes fade-in-scale {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
